@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Bold.ttf);
    font-weight: 700;
}


body {
    font-family: 'TT Lakes Neue Trial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


/*text styles*/

a {
    text-decoration: none;
    font-weight: 500;
    color: #1B1C21;
}

.web-navigation--selected,
.language--selected {
    color: #7e7e82;
}

.web-navigation--selected {
    border-left: solid 4px #41F6D7; /*pendiente hacer padding*/
}

.web-navigation--next,
.phone {
    font-weight: 700;
}

.phone {
    font-size: 24px;
}




/*menu general styles*/

.menu {
    max-width: 320px;
    width: 100%;
}

nav ul {
    list-style: none;
}

/*header menu style*/


/*web navigation style*/


/*contact style*/


/*language navigation style*/