@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: 'TT Lakes Neue Trial';
    src: url(font/tt_lakes_neue/TT-Lakes-Neue-Trial-Bold.ttf);
    font-weight: 700;
}


body {
    font-family: 'TT Lakes Neue Trial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


/*text styles*/

a {
    text-decoration: none;
    font-weight: 500;
    color: #1B1C21;
}

.web-navigation--selected,
.language--selected {
    color: #7e7e82;
}


.web-navigation--next,
.phone {
    font-weight: 700;
}

.phone {
    font-size: 24px;
}




/*menu general styles*/

.menu {
    max-width: 320px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px;
    box-sizing: border-box;
}

.menu nav ul {
    list-style: none;
}



/*header menu style*/

.top__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.header--left {
    display: flex;
    gap: 12px;
}


/*web navigation style*/

.web-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;

}

.web-navigation--selected {
    border-left: solid 4px #41f6d7;
}

.web-navigation--next {
    text-shadow: 0px 2.5px 3px #ada5a5;
}

/*contact style*/

.contact__icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


/*language navigation style*/

.language ul {
    display: flex;
    flex-direction: row;
    gap: 9px;
    padding: 0;
    margin: 0;
}